<h1>To Do List</h1>
<input [(ngModel)]="task" type="text" name="task" id="task" placeholder="Enter task">
<button type="button" (click)="addtask()">Submit</button>
<div id="table">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (task of taskList; track task.id) {
        <tr>
          <td>{{task.id}}</td>
          <td>{{task.name}}</td>
          <td><button (click)="completetask(task.id)" type="button">Complete</button><button (click)="deletetask(task.id)" type="button">Delete</button></td>
        </tr>
      }
    </tbody>
  </table>
</div>
<h2>Today's completed tasks</h2>
@for (item of completeList; track $index) {
  <p>{{item}}</p>
}
